---
import { useTranslations, type Language } from '../i18n/utils';

interface ITitle {
  titleKey: string;
  lang: Language;
}

const {titleKey, lang} = Astro.props;

const t = useTranslations(lang);
const title = t(`title.${titleKey}`) + ' - ' + t('manufacturer.title');
---

<title>{title}</title>
<meta property="og:title" content={title}/>