---
import Title from '../components/head_title.astro';
import Meta from '../components/head_meta.astro';
const { titleKey, lang } = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Meta lang={lang}/>
    <Title titleKey={titleKey} lang={lang}/>
  </head>
  <body>
    <slot/>
  </body>
</html>