---
import Title from '../components/title.astro';
import { useTranslations } from '../i18n/utils';

const { titleKey, lang } = Astro.props;
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <Title titleKey={titleKey} lang={lang} />
  </head>
  <body>
    <slot />
  </body>
</html>